jupyterhub==3.0.*
notebook==6.5.*
jupyterlab==3.5.*
retrolab==0.3.21

jupyter-resource-usage==0.6.1
jupyter-syncthing-proxy==1.0.3
jupyter-tree-download==1.0.1
jupyter-contrib-nbextensions==0.5.1
jupyter_nbextensions_configurator==0.4.1
jupyterlab-spellchecker==0.7.2
jupyterlab-link-share==0.2.4

nbgitpuller==1.1.*
nbconvert==7.2.*
ipywidgets==8.0.*

git-credential-helpers==0.2

RISE==5.7.1
