jupyterhub==2.3.1
notebook==6.4.12
jupyterlab==3.4.5
retrolab==0.3.21

jupyter-resource-usage==0.6.1
jupyter-syncthing-proxy==1.0.3
jupyter-tree-download==1.0.1
jupyter-contrib-nbextensions==0.5.1
jupyter_nbextensions_configurator==0.4.1

nbgitpuller==1.1.0
nbconvert==6.5.3
ipywidgets==7.7.0

git-credential-helpers==0.2

otter-grader==3.3.0
RISE==5.7.1
